#local world caches and other saved files
pickles/*.pkl
dsadventure/pickles/*

#visual studio
.vscode/*

#local pycs and other things
*.pyc*
__pycache__/*
__pycache__/
__pycache__/*.pyc
migrations/*
notebooks/Untitled.ipynb


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Sphinx documentation
docs/_build/

# PyBuilder
target/


### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

.env
db.sqlite3

#game specific ingore files
*nohup*
*.swp
*.map
.ipynb_checkpoints
notebooks/.ipynb_checkpoints
*.ipynb_checkpoints*

migrations_old/*
migrations/*

*settings*.py



db.sqlite3*
dsadventure/migrations/*

