{% load static %}
<html>

<head>
    <title>Stats and Equipment</title>
    {% include "gamesite/gatag.html" %}
    <link rel="stylesheet" type="text/css" href="{% static 'game/forms.css' %}">
    <script type="text/javascript" src="{% static 'gamesite/d3.js' %}"></script>
</head>

<body>
    <script>
        {% include "game/core/globalFunctions.js" %}
    </script>

    <p>{{ "Character: "|add:charData.name }}</p>
    <p>{{ "Title: "|add:charData.title }}</p>
    <p>{{ "Location: "|add:charData.location }}</p>
    <div class="stats">
    <p> composure (health): {{ charData.composure }}</p>
    <p> size: {{ charData.composure }}</p>
    <p> speed: {{ charData.composure }}</p>
    </div>
    <div class="title">Weapons</div>
    <div class="weaponScreen"></div>
    <div class="title">Equipment</div>
    <div class="equipScreen"></div>
    <script>

        var eq_tooltip = d3.select("body")
            .append("div")
            .attr("id", "eq-info")
            .style("position", "absolute")
            .style("z-index", "10")
            .style("visibility", "hidden")
            .style("background-color", 'white')
            .html("This will be the EQ data");


        {% include "game/player/weapons.js" with weapons=charData.equipment.weapons %}
        {% include "game/player/equipment.js" with equipment=charData.equipment %}
        var charData = {{ charData | safe }}

    </script>
    <div class="money">
        {% if charData.equipment.gold %}
            <p class="gold">Gold: {{ charData.equipment.gold }}</p>
        {% endif %}
        {% if charData.equipment.silver %}
            <p class="silver">Silver: {{ charData.equipment.silver }}</p>
        {% endif %}
        {% if charData.equipment.coper %}
            <p class="copper">Copper: {{ charData.equipment.coper }}</p>
        {% endif %}
    </div>
</body>


</html>
