.button-stack{
    display:block;
}

a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: #583633;
}

div {
    margin: 5px;
    border: 1px solid black;
    padding: 5px;
}