{% load static %}

<html>
    <head>
    <title>1: The age of elements</title>
    {% include "prodweb/gatag.html" %}
    <link rel="stylesheet" type="text/css" href="{% static 'game/createworld.css' %}">
    </head>
    <body>
        <div class="slidecontainer">
            <p>How many mountain ranges:</p>
            <input type="range" min="1" max="10" value="5" class="earth slider" id="drop_iter">
            <p>How long should the ranges be:</p>
            <input type="range" min="30" max="100" value="80" class="earth slider" id="spread_iter">
            <p>How high should the peaks be:</p>
            <input type="range" min="1" max="10" value="5" class="earth slider" id="peak_height">
            <p>----------------------</p>
            <p>How high the water level:</p>
            <input type="range" min="0" max="100" value="0" class="water slider" id="water_level">
            <p>How strong the rainfall:</p>
            <input type="range" min="1" max="10" value="5" class="water slider" id="rain_iter">
        </div>
        <div>
            <a class="button" href="showworld01">Begin the age of elements</a>
        </div>
    </body>
</html>
