{% load static %}
<html>
    <head>
    {% include "prodweb/gatag.html" %}
    <link rel="stylesheet" type="text/css" href="{% static 'game/forms.css' %}">
    <script type="text/javascript" src="{% static 'prodweb/d3.js' %}"></script>
    </head>
    <body>
        <p>Behold the world you have created</p>
        <a class='button-stack' href='/game/createworld02'>delete and go back to the age of prosperity</a>
        <a class='button-stack' href='/game/showworld03'>save and witness the age of conflict</a>
        <script>
            var formData = {{ formData|safe }};
        </script>
    {% include "game/charts/heatmap.html" %}
    </body>
</html>

